@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Courier Prime", monospace !important;
    font-style: italic !important;
    font-weight: 400 !important;
}

.md-typeset {
    font-family: "Courier Prime", monospace !important;
    font-style: italic !important;
    font-weight: 400 !important;
}

code {
    font-family: "Courier Prime", monospace !important;
}

/* Make horizontal separators darker */
.md-typeset hr {
    border-bottom: 2px solid #666;
    opacity: 1;
}